<div class="medicamentos">
  <h3>Medicamentos Prescritos</h3>

  <div *ngIf="carregando">Carregando medicamentos...</div>
  <div *ngIf="erro" class="erro">{{ erro }}</div>

  <div class="imprimir-prescricao">
    <label for="tipoPrescricao">Imprimir prescrição:</label>
    <select id="tipoPrescricao" [(ngModel)]="selectedTipoPrescricao">
      <option value="">Selecione</option>
      <option value="novos">Medicamentos novos</option>
      <option value="continuos">Medicamentos contínuos</option>
    </select>
    <button (click)="imprimirPrescricao()" [disabled]="!selectedTipoPrescricao">
      <i class="fas fa-print"></i> Imprimir
    </button>
  </div>

  <ng-container *ngIf="medicamentosDoIdoso.length > 0; else vazio">
    <app-card-generico
      *ngFor="let med of medicamentosDoIdoso"
      [titulo]="med.nome"
      [subtitulo]="med.dosagem"
      [descricao]="med.frequenciaDiaria + ' | ' + med.duracaoTratamento + ' | ' + med.observacoes"
      icone="pills"
      [tipo]="'info'"
    >
      <div class="card-medicamento">
        <div class="header-card">
          <span class="badge em-uso">EM USO</span>
        </div>
        <div class="data-prescricao">
          Data da Prescrição: <strong>{{ med.dataPrescricao | date : 'dd/MM/yyyy' }}</strong>
        </div>

        <div class="badge-list">
          <span *ngIf="med.diasSemana?.length">Dias: {{ med.diasSemana.join(', ') }}</span
          ><br />
          <span *ngIf="med.horarios?.length">Horários: {{ med.horarios.join(' • ') }}</span>
        </div>
      </div>
    </app-card-generico>
  </ng-container>

  <ng-template #vazio>
    <app-card-generico
      titulo="Nenhum medicamento encontrado"
      descricao="Este hóspede não possui medicamentos registrados."
      icone="pills"
      tipo="default"
    >
    </app-card-generico>
  </ng-template>
</div>
