@use '../../../../../styles/variables' as vars;

.admin-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .admin-body {
    display: flex;
    flex: 1;
    position: relative;
    overflow: hidden;
  }

  app-admin-sidebar {
    width: 250px;
    flex-shrink: 0;
    background-color: vars.$primary-color;
    height: 100%;
    overflow-y: auto;
  }

  .admin-content {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
  }

  @media (max-width: 768px) {
    app-admin-sidebar {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1000;
      height: 100%;
      width: 250px;
      background-color: vars.$primary-color;
      box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;
    }

    .admin-content {
      width: 100%;
    }
  }
}

