<div class="container">

  <h2>Prescrições Médicas</h2>

  <div class="filtro">
    <label>Selecionar Idoso:</label>
    <select [(ngModel)]="selectedIdoso" (change)="buscarPrescricoes()">
      <option value="">Selecione</option>
      <option *ngFor="let i of idosos" [value]="i.id">
        {{ i.nome }}
      </option>
    </select>
  </div>

  <p *ngIf="erro" class="erro">{{ erro }}</p>
  <p *ngIf="carregando">Carregando...</p>

  <div *ngFor="let p of prescricoes" class="card prescricao-card">


    <h3>{{ p.descricaoGeral }}</h3>
    <p><strong>Prioridade:</strong> {{ p.prioridade }}</p>

    <h4>Medicamentos:</h4>

    <ul class="lista-medicamentos">
      <li *ngFor="let m of p.medicamentosPrescritos" class="item-medicamento">

        <div class="linha1">
          <strong>{{ m.nomeMedicamento }}</strong>
          — {{ m.dosagem }}
          — {{ m.frequenciaDiaria }}x ao dia
          — {{ m.duracaoTratamento }} dias
        </div>

        <div class="dias">
          <strong>Dias:</strong>
          <span *ngFor="let d of m.diasSemana">
            {{ d }}
          </span>
        </div>

        <div class="horarios">
          <strong>Horários:</strong>
          <span *ngFor="let h of m.horarios">
            {{ h }}
          </span>
        </div>


        <div class="obs" *ngIf="m.observacoesPrescricao">
          <strong>Observações:</strong> {{ m.observacoesPrescricao }}
        </div>

      </li>
    </ul>

    <button (click)="editar(p.id)" class="btn-editar">
      Editar
    </button>

  </div>

</div>
