services:
  mongo:
    image: mongo:latest
    container_name: mongo_db
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db
    healthcheck:
      test: ['CMD', 'mongosh', '--eval', "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_server
    ports:
      - '5672:5672'
      - '15672:15672'
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    healthcheck:
      test: ['CMD', 'rabbitmq-diagnostics', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5

  laridosos-service:
    build:
      context: ./LarIdosos
      dockerfile: Dockerfile
    container_name: laridosos_service
    # Manter a porta exposta é útil para testes diretos com Postman, etc.
    ports:
      - '8080:8080'
    environment:
      - SPRING_DATA_MONGODB_HOST=mongo
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SERVER_PORT=8080
      - JWT_KEY=YWFhYmJiY2NjZGRkZWVlZmZmMDEyMzQ1Njc4OWFiY2RlZmYwMTIzNDU2Nzg5YQ==
    depends_on:
      mongo:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  notification-service:
    build:
      context: ./notification-service
      dockerfile: Dockerfile
    container_name: notification_service
    ports:
      - '8090:8090'
    environment:
      - SPRING_DATA_MONGODB_HOST=mongo
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SERVER_PORT=8090
    depends_on:
      mongo:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  # =========================================================
  # NOVO SERVIÇO: FRONTEND (ANGULAR)
  # =========================================================
  frontend:
    build:
      # O caminho para a pasta do Angular, onde está o Dockerfile e o código.
      context: ./geri-plus
      dockerfile: Dockerfile
    container_name: frontend-angular
    # Expor a porta 80 do container para a porta 80 do host (http://localhost)
    ports:
      - '80:80'
    # Depende dos serviços de Spring para iniciar
    depends_on:
      - laridosos-service
    # O Angular usará o Nginx Proxy para conversar com o laridosos-service

volumes:
  mongo-data:
