@use '../../../../styles/variables' as vars;

.form-wrapper {
  background: vars.$text-light; // fundo branco
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);

  .form-label {
    font-weight: 600;
    color: vars.$text-dark;
  }

  .text-danger {
    color: vars.$error-color;
    font-size: 0.85rem;
  }

  // Espaçamento entre botões de array
  .btn-outline-danger,
  .btn-outline-secondary {
    font-size: 0.85rem;
    padding: 0.4rem 0.8rem;
  }
}
