<section>
  <h2>🩺 Histórico de Recomendações Médicas Gerais</h2>

  <div *ngIf="!todasRecomendacoesGerais.length" class="alert alert-info">
    Nenhuma recomendação médica geral encontrada para este idoso.
  </div>

  <app-card-generico
    *ngFor="let recomendacao of todasRecomendacoesGerais; let i = index"
    titulo="{{ recomendacao.descricaoGeral }}"
    subtitulo="Prioridade: {{ recomendacao.prioridade }}"
    subtitulo="Data da Recomendação:
          {{
      recomendacao.dataRecomendacao
        ? (recomendacao.dataRecomendacao | date : 'dd/MM/yyyy')
        : 'Não Registrada'
    }}"
    icone="notes"
    tipo="info"
  >
  </app-card-generico>
</section>
