@use '../../../../styles/variables' as *;

.hero-section {
  background: linear-gradient(to bottom, $sky-blue, $sky-blue);
  color: $text-light;
  padding: 0;
  margin: 0;
  height: 100vh; 

  .hero-content {
    display: flex;
    height: 100%; 
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
  }

  .hero-text {
    flex: 1;
    text-align: center;
    padding: 20px;

    .logo-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .logo-home {
        height: 80px;
      }

      .logo-text {
        font-size: 3.5rem;
        font-weight: bold;
        color: $dark-blue;
      }
    }

    .logo-subtitle {
      font-size: 2.5rem;
      margin-top: 5px;
      color: $primary-color;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    h3 {
      font-size: 1.2rem;
      margin-bottom: 30px;
      color: $text-light;
    }

  }

  .hero-image {
    flex: 1;
    position: relative;
    height: 100%; 

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      position: relative;
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: rgba(0, 191, 255, 0.25);
      z-index: 2;
    }
  }
}

@media (max-width: 768px) {
  .hero-section {
    height: auto; 
  }

  .hero-content {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 20px;
  }

  .hero-text {
    .logo-wrapper {
      flex-direction: column;
      gap: 5px;

      .logo-home {
        height: 70px;
      }

      .logo-text {
        font-size: 2rem;
      }
    }

    .logo-subtitle {
      font-size: 1.2rem;
      color: $light-blue;
    }

    h3 {
      font-size: 1rem;
      color: $text-light;
    }

    .btn-secondary {
      font-size: 1rem;
      padding: 0.6rem 1.5rem;
    }
  }

  .hero-image {
    height: auto;

    img {
      height: auto;
    }
  }
}
