<div class="lista-cards">

  <h2 *ngIf="titulo">{{ titulo }}</h2>

  <div class="card" *ngFor="let item of itens">

    <div class="card-foto" *ngIf="exibirFoto">
      <img *ngIf="item?.fotoUrlSegura" [src]="item?.fotoUrlSegura" alt="Foto do Usuário" />

      <div *ngIf="!item?.fotoUrlSegura" class="foto-placeholder">Sem foto</div>
    </div>

    <div class="card-conteudo">
      <div *ngFor="let campo of camposResumo">
        <strong>{{ campo }}:</strong> {{ item[campo] }}
      </div>
    </div>


    <div class="card-acoes">
      <button type="button" class="btn btn-sm btn-primary" (click)="onEditar(item)">Editar</button>
      <button type="button" class="btn btn-sm btn-outline-danger" (click)="onExcluir(item)">
        Excluir
      </button>

    </div>
  </div>
</div>