@use '../../../../styles/variables' as *;
h2 {
  color: $dark-blue;
  margin-bottom: 1rem;
  padding: 0 1rem 2rem;
  text-align: center;
}

.card-flip {
  perspective: 1000px;
  height: 250px;

  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;

    &:hover {
      transform: rotateY(180deg);
    }
  }

  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    padding: 20px;
    background-color: $sky-blue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .card-back {
    transform: rotateY(180deg);
    background-color: $primary-color;
    color: $text-light;
  }

  h5 {
    color: $dark-blue;
    font-weight: bold;
  }

  p {
    font-size: 0.95rem;
    color: $text-light;
  }
}
