@use 'sass:color';
@use '../../../../../styles/variables' as vars;

.sidebar {
  width: 250px;
  background-color: vars.$primary-color;
  color: vars.$text-light;
  padding: 1rem;

  .logo {
    font-size: vars.$font-size-large;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .nav-link {
    display: flex;
    align-items: center;
    color: vars.$text-light;
    font-weight: 600;
    margin-bottom: 0.75rem;
    text-decoration: none;

    i {
      margin-right: 0.5rem;
      font-size: 1rem;
    }

    &.active {
      color: vars.$accent-color;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .accordion-button {
    background-color: vars.$primary-color;
    color: vars.$text-light;
    font-weight: bold;

    i {
      margin-right: 0.5rem;
    }

    &:focus {
      box-shadow: none;
    }

    &:not(.collapsed) {
      background-color: vars.$dark-blue;
    }
  }

  .accordion-body {
    padding-left: 0.5rem;

    a {
      display: flex;
      align-items: center;
      padding: 0.25rem 0;
      font-size: vars.$font-size-small;
      color: vars.$text-dark;
      text-decoration: none;

      i {
        margin-right: 0.5rem;
        font-size: 0.9rem;
      }

      &.active {
        font-weight: bold;
        color: vars.$accent-color;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .logout-mobile {
    margin-top: 1rem;
    padding: 0 1rem;

    button {
      width: 100%;
      text-align: left;
    }
  }

  // Esconde em telas grandes
  @media (min-width: 769px) {
    .logout-mobile {
      display: none;
    }
  }
}
