@use '../../../../styles/variables' as vars;

.dashboard {
  padding: 2rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }

  .metric-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    text-align: center;

    h2 {
      font-size: 1.2rem;
      color: vars.$primary-color;
      margin-bottom: 0.5rem;
    }

    .value {
      font-size: 1rem;
      font-weight: bold;
      color: vars.$text-dark;
      padding-bottom: 0.5rem;
    }

    canvas {
      margin-top: 1rem;
      width: 100% !important;
      max-width: 100%; 
      height: auto !important;
      aspect-ratio: 4 / 3; 
    }
  }

  /* Ajustes para telas menores */
  @media (max-width: 768px) {
    .card-grid {
      grid-template-columns: 1fr; 
    }

    .metric-card {
      padding: 1rem;

      canvas {
        max-width: 100%;
        aspect-ratio: 1 / 1; 
      }
    }
  }
}
